<mat-card style="width: 20rem; position: absolute;
margin-left: calc(50% - 10rem);
margin-top: 15rem;">
  <mat-card-header>
    <mat-card-title>Test crypto-js</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table style="width: 100%;">
        <tr>
          <td>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Nombre" [(ngModel)]="name"
                name="name" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Apellido" [(ngModel)]="lastName"
                type="text" name="lastName" required>
            </mat-form-field></td>
        </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" [disabled]="!(name.length > 1) && !(lastName.length > 1)" color="primary">Guardar</button>
    <button mat-raised-button (click)="getLocalStorage()" color="primary">Recuperar</button>
  </mat-card-actions>
</mat-card>
